@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgba(46, 35, 110, 0.43);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: rgba(8, 66, 141, 0.652);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgba(26, 20, 26, 0.6);
}
