@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
}

body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #00b7c7;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;
  --violet: #ae70cdf4;

  --background: var(--ash-black);
  --accent: var(--white);

  background-color: var(--background);

  color: var(--white);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}

.bg {
  stroke: var(--accent);
  opacity: 0.3;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgba(26, 20, 26, 0.6);
}

.icon {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.919);
  border: 1px solid #666464;
  padding: 8px;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.1) translateY(-5px);
}

@keyframes borderAnimation {
  0% {
    border-color: var(--green);
  }
  25% {
    border-color: var(--sky);
  }
  50% {
    border-color: var(--green);
  }
  75% {
    border-color: var(--sky);
  }
  100% {
    border-color: var(--green);
  }
}

.animate-border {
  animation: borderAnimation 3s infinite;
}

@keyframes colorChange {
  0% {
    color: var(--green);
  }
  25% {
    color: #084187ba;
  }
  50% {
    color: var(--green);
  }
  75% {
    color: #084187ba;
  }
  100% {
    color: #00b7c7;
  }
}

.animate-color-change {
  animation: colorChange 10s infinite;
}

.chrono-container {
  padding: 20px;
}
